*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.MuiTableCell-head{
  background-color: silver;
  color: white;
}
ul{
  list-style: none;
}
.items li{
  border: 1px solid silver;
  padding: 0.8rem 1rem;
}

.pagination{
  justify-content: center;
  margin: 1rem 0;
}
.pagination li{
  border: 1px solid silver;
  margin: 5px;
  cursor: pointer;
}
.pagination li a{
  padding: 10px;
  text-decoration: none;
  color: green;
  outline: none;
}
.pagination li:hover{
  border: 1px solid blue;
}
.pagination li.active{
  background-color: green;
  color: white;
}

.randomButton{
  border: 1px solid silver;
  padding: 1rem;
  text-align: center;
}
.randomButton button{
  padding: 0.5rem 2rem;
  background-color: green;
  color: white;
  border-radius: 5%;
  border: none;
  margin:2rem 0;
}
@media only screen and (max-width: 600px) {
 .pagination{
   display: flex;
   flex-wrap: wrap;
 }
}


/* search */

.searchClass{
  justify-content: center;
  margin: 1rem 0;

}